<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <connectionStrings>
    <!--<add name="CafeteriaDB" connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=cafeteriaposdb;CharSet=cp1256;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="CafeteriaDB" connectionString="Server=localhost;Database=cafeteriaposdb;Uid=root;Pwd=root" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
